{{!-- {{#each this}}
<li > <img src="{{flags.png}}" alt="" width="40"> <span > {{name}}</span></li>
{{/each}} --}}
{{#each this}}
<li style="list-style: none;">
    <p ><img src="{{flags.svg}}" width="30px" /> {{name.official}}</p>
</li>
{{/each}}
